
.hidden {
    /* this is hidden right */
    opacity: 0;
    transition: all 1250ms;
    filter: blur(5px);
    transform: translateX(-100%)
    /*    
        from the other side
        for .hidden-left
        transform: translateX(200%)
    */
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    
}
