
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="assets/images/wf-short-hair-025.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title">Name: </span> <span>William Friend</span></p>
                        <p><span class="title">Profile: </span> <span>Full-Stack developer and Security Engineer</span></p>
                        <p><span class="title">Email: </span> <span>william.friend777@gmail.com</span></p>
                        <p><span class="title">Phone: </span> <span>(908) 328-5476</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title">Skills</p>
                    <span class="span push-right">HTML</span> 
                    <span class="span push-right">PHP</span>
                    <span class="span push-right">JAVASCRIPT</span>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                        I love making and breaking disruptive web applications.
                    </p>
                    <p class="lead">
                        I love solving problems with code.
                    </p>
                    <p class="lead">
                        If you are working improve the world with a combiation of hardware and software, contaact me.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->