<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Send Message Us
                                    </h5>
                                </div>
                                <div>

                                    <!-- this forwards the message to freeform, which then sends it to the email
                                            william0friend@outlook.com -->
                                    <form action="https://formspree.io/f/moqzqldk" method="POST">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                   <label>
                                                    Type Email:
                                                    <input type="email" name="email" class="form-control" id="name"
                                                        placeholder="Your Email: :)" required>
                                                    </label>
                                                </div>
                                            </div> 
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>
                                                        Message Here, I will contact you back shortly...
                                                    <textarea class="form-control" name="message" rows="10"
                                                        placeholder="Your Message: :)" required></textarea>
                                                    </label>
                                                </div>
                                            </div>


                                        <!-- other form fields go here -->

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" onclick="onSubmit()">Send Message</button>
                                            </div>
                                        </div>

                                            <script>
                                            function onSubmit(){
                                                alert("You have sucessfully sent your message to William Friend :)");
                                            }
                                            //<div class="col-md-12 text-center my-3">
                                            //    <div class="loading">Loading</div>
                                            //    <div class="error-message"></div>
                                            //    <div class="sent-message">Your message has been sent. Thank you!</div>
                                            //</div>
                                            </script>
                                            <div class="col-md-12 text-center">
                                                <button type="submit"
                                                    class="button button-a button-big button-rouded">Send
                                                    Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Get in Touch
                                    </h5>
                                </div>

                                <div class="more-info">
                                    <p class="lead">Please feel free to contact me!</p>
                                    <ul class="list-ico">
                                        <li><a href="http://google.com"><span class="bi bi-geo-alt"></span> 5035 Yukon
                                                Drive</a></li>
                                        <li><a href="http://www.phone.com"><span class="bi bi-phone"></span> (908) 328
                                                5376</a></li>
                                        <li><a href="http://www.outlook.com"><span class="bi bi-envelope"></span>
                                                william0friend@outlook.com</a></li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li><a href="http://www.facebook.com"><span class="ico-circle"><i
                                                        class="bi bi-facebook"></i></span></a></li>
                                        <li><a href="https://www.github.com/william0friend"><span class="ico-circle"><i
                                                        class="bi bi-github"></i></span></a></li>
                                        <li><a href="https://my.indeed.com/p/williamf-5dvr41b"><span class="ico-circle"><i
                                                        class="bi bi-indeed"></i></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/william0friend"><span class="ico-circle"><i
                                                        class="bi bi-linkedin"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->