

<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" 
        style="background-image: url(../assets/images/overlay-bg.jpg);">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Hello World!</h1>
        <h4 class="mb-3">I am William Friend</h4>
          <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">About Me</a></p> 
          <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#contact" role="button">Contact Me</a></p> 
            <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Engineer, Developer, Hacker"></span></p>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->