<!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" 
        style="background-image: url(../assets/images/overlay-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
         <p class="display-6 color-d">Hello, world!</p>
          <h1 class="hero-title mb-4">I am William Friend</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Engineer, Developer, Hacker"></span></p>
          <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">About Me</a></p> 
          <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#contact" role="button">Contact Me</a></p> 
          <style>
            .btn {
                color: white;
                background-color: black;
            }
          </style>
        </div>
      </div>
    </div>
  </div> <!-- End Hero Section -->
