<!-- Navigation  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
        <a class="navbar-brand" href="#">William Friend's Portfolio</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
                <a class="nav-link active" title="Click me I work!" aria-current="page" href="./index.html">Home</a>
                <a class="nav-link" title="Click me I work!" href="./aboutme.html">About</a>
                <a class="nav-link disabled" href="#">FAQ</a>
                <a class="nav-link disabled" href="#">Blog</a>
                <a class="nav-link disabled" href="#">Reach Me</a>
      </div>
    </div>
  </div>
</nav>