<!-- Navigation  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
        <a class="navbar-brand" href="#">William Friend's Portfolio</a>
    
    
      <div class="navbar-nav">
                <a class="nav-link active" title="Click me I work!" aria-current="page" href="./index.html">Home</a>
                <label class="label fw-bold text-bg-light text-danger-emphasis">Examples: (much better than profile) </label>
                <a class="nav-link" title="Click me I work!" href="../Skeletons/homepage.html">Skeletons.com</a>
                <a class="nav-link" title="Click me I work!" href="../SkeletonsAnimated/homepage.html">Skeletons.com Animated</a>
      </div>
    </div>
  </div>
</nav>