<!-- Profile wide Navigation  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
        <a class="navbar-brand" title="I can alawys get you back to the william0friend.github.io" href="https://william0friend.github.io">Portfolio Main Navbar </a>
      <div class="navbar-nav">
                <a class="nav-link active" title="Click me I work!" aria-current="page" href="https://william0friend.github.io">Profile</a>
                <label class="label-danger border-light-subtle">Hosted Examples: </label>
                <a class="nav-link" title="Click me I work!" href="../Skeletons/homepage.html">Skeletons.com</a>
                <a class="nav-link" title="Click me I work!" href="../SkeletonsAnimated/homepage.html">Skeletons.com Animated</a>
                <a class="nav-link" title="Click me I work!" href="../Skeletons_Jquery/homepage.html">Skeletons.com Jquery Employee Form</a>
                <a class="nav-link" title="Click me I work!" href="../Skeletons_Jquery/AboutUs.html">Skeletons.com Jquery Employee Form</a>
                <a class="nav-link" title="Click me I work!" href="../Skeletons_Jquery/Form.html">Skeletons.com Jquery AJAX Shopping Cart</a>
                <a class="nav-link" title="Click me I work!" href="https://www.github.com/william0friend">William0Friend's Github Repositories</a>
                
      </div>
    </div>
  </div>
</nav>