
<nav id="navbar" class="navbar">
  <ul>
            <li class="dropdown"><a href="#"><span>Menu</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
              {% for item in site.data.navigation %}
                <li>
                   <a class="nav-link scrollto" style="color: green;" href="{{ item.link }}" {% if page.url == item.link %} style="color: red;" {% endif %}>
                     {{ item.name }}
                   </a>  
            </li>
            {% endfor %}
            <li><a class="nav-link scrollto" href="#about">portfolio</a></li>
            <li><a class="nav-link scrollto" href="#portfolio">portfolio</a></li>
            <li><a class="nav-link scrollto" href="#contact">contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
<!--
<nav>
  <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
  <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
    About
  </a>
</nav>
-->

<!--
<nav>
  <a href="/">Home</a>
  <a href="/about.html">About</a>
</nav>
-->
