---
---
<!doctype html>
<html>
  <head>
    {% include head.html %}
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
  <!-- ======= Header ======= -->
  <header id="header" class="absolute-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"></a></h1>

    {% include navigation.html %}

    </div>
  </header><!-- End Header -->


    {{ content }}

    <footer>
      {% include footer.html %}
    </footer>

</body>
</html>

<!--
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
-->

<!--
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
-->
