---
---
<!doctype html>
<html>
  <head>
    {% include head.html %}
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
  <!-- ======= Header ======= -->
    <header id="header" class="absolute-top">

      <!-- <h1 class="logo m-4"><a href="index.html">William Friend Portfolio Landing Page</a></h1> -->

 
    </header><!-- End Header -->
  
    

     {{ content }} 
  
    <main id="main" class="main">
     {% include navbar.html %}
        {% include hero.html %}
        {% include portfolio.html %}
        {% include about.html %}
        {% include contact_FreeForm.html %}    
        
    </main>
  
</body>
  


    <footer>
      {% include footer.html %}
    </footer>

</body>
</html>